body {
    font-family: "Edu TAS Beginner", cursive;
}

main {
    background-image: url("../assets_day1/img/cork.png");
}

header {
    height: 200px;
    background-image: url("../assets_day1/img/wall.png");
}

h1 {
    font-size: 100px;
}

.card {
    padding: 25px;
    margin: 30px 0px;
    position: relative;
}

.card h2 {
    margin-top: 10px;
}

.pin {
    width: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -40%);
    display: block;
}

/* Hover sulle card */
.card:hover .pin {
    display: none;
}

.card:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: rotate(5deg);
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.639);
    display: none;
}

.overlay .close-btn {
    font-size: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
}